libgossip/gossip-contact.dtd

<!--
  DTD for Gossip contacts.
  by Martyn Russell <martyn@imendio.com>
-->

<!-- Root element. -->
<!ELEMENT contacts (account+)>

<!ELEMENT account ((self?),(contact*))>
<!ATTLIST account name CDATA #REQUIRED>

<!ELEMENT self (name)>

<!ELEMENT contact (name)>
<!ATTLIST contact id CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
 
